<!DOCTYPE html>
{% extends "showMovies/base.html" %}

	{% block block_head %}

		<script type="text/javascript">

			var url = "https://api.themoviedb.org/3/search/movie?api_key={{ api_key }}&query={{ film.title }}";
			var g = "";
			{% for x in film.genres.all %}
				g += " {{ x }} |";
			{% endfor %}
			$.getJSON(url, function(data){
				if(data.results != null){
					poster_url = 'http://image.tmdb.org/t/p/w500/'+data.results[0].poster_path;
					inside_para = '<strong>Title:</strong> {{ film.title }}' +
								'<br><strong>Genre:</strong> ' + g +
								'<br><strong>Released:</strong> ' + data.results[0].release_date +
                                '<br><strong>Language:</strong> ' + data.results[0].original_language +
                                '<br><strong>Description:</strong> ' + data.results[0].overview
                                '<br><strong>Rating:</strong> '+ data.results[0].vote_average;

					img = document.createElement("img");
					img.setAttribute('src', poster_url);
					img.setAttribute('class', "big-poster");

					p = document.createElement("p");
					p.setAttribute('class', "big-info")
					p.innerHTML = inside_para;

					document.getElementById("moviePoster").appendChild(img);
					document.getElementById("infoHere").appendChild(p);
				}
			});

		</script>

	{% endblock block_head %}

	{% block body_block %}
		<div class="container">
			<div class="row">
				<div id="moviePoster" class="col">
					
				</div>
				<div id="movieInfo" class="col">
					<div id="infoHere">
						
					</div>
					<div id="rateHere">
						{% if film.movieId %}
						<form action="{% url 'showMovies:Movie Details' movie_id=film.movieId %}" method="post">
							{% csrf_token %}
							<label for="r">Rate Movie</label>
							<input type="number" name="r" max="5" min="1" placeholder="0">
							<input type="submit" value="rate">
						</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endblock body_block %}